<div class="MainDiv">
  <nav>
    <mat-form-field appearance="fill">
      <mat-label>admin sider</mat-label>
      <mat-select>
        <mat-option *ngFor="let page of adminPages" [value]="page">
          <a href="/admin/{{page}}">{{page}}</a>
        </mat-option>
      </mat-select>
    </mat-form-field>
    </nav>
  <div class="infoDiv">
    <h1>Administrer nationaliteter</h1>
    <div class="centerDiv">
      <label>Navn: </label>
      <input [(ngModel)]="currentNationality.name">
    </div>
    <div class="centerDiv">
      <button (click)="deleteNationality()">slet</button>
      <button (click)="saveNationality()">gem</button>
    </div>
    <div >
      <div class="centerDiv">
        <mat-form-field appearance="fill">
          <mat-label>Nationaliteter</mat-label>
          <mat-select>
            <mat-option (click)="reset()">
              <p>Ny</p>
            </mat-option>
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality" (click)="edit(nationality)">
              <p>{{nationality.name}}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</div>





